* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Generics */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
/*  Header */

header {
    background-color: #FF6900;
    /* display: flex;
    justify-content: center; */
    position: fixed;
    z-index: 800;
    top: 0;
    width: 100%;
}

#header-container {
    width: 80%;
    display: flex;
    color: white;
    margin: 0 auto;
    /* debug */

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
        /* debug */
    /* background-color: yellow; */
}

.nav-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-list li {
    padding: 0px 5px;
    font-weight: 600;
}

.nav-text {
    width: 30%;
    display: flex;
}

.nav-icon {
    display: flex;
}

#logo {
    width: 15%;
    margin: 10px 0;
}

/* Main */

main {
    padding-top: 80px;
}

/* Griglia */

.container-grid {
    width: 80%;
    margin: 20px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    width: calc((100% / 3) - (40px / 3));
    /* debug */
    /* background-color: blue; */
    /* height: 300px; */
    /* border: 1px solid black; */
}

.img-col img {
    width: 100%;
    /* background-size: cover; */
}

.img-col {
    position: relative;
}

/* Text decoration */

.brand {
    font-size: 14px;
}

.details {
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    font-size: 18px;
}

.price-discount {
    color: red;
    font-weight: 600;
}

.price-cut {
    text-decoration: line-through ;
    font-size: 16px;
}

/* Overlay */

.img-col:hover .pre-hover{
    display: none;
}
.img-hover{
    display: none;
        cursor: pointer;
} 

.img-col:hover .img-hover{
    display: block;
}

/* position */

.heart {
    height: 60px;
    width: 60px;
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 0;
}

.heart:hover span {
    color: red;
    cursor: move;
}

.target{
/* 
    width: 40px;
    height: 20px; */
    color: white;
    font-weight: 600;
    padding: 3px;
}

.discount {
    background-color: red;
    position: absolute;
    bottom: 80px;
}

.sustainability {
    background-color: green;
    position: absolute;
    bottom: 80px;
    left: 50px;   
}

.sustainability-left {
    background-color: green;
    position: absolute;
    bottom: 80px; 
}

/* Footer */
footer {
    background-color: #1A1A1A;
    color: white;
}

#footer-container {
    margin: 0 auto;
    padding: 50px;
    width: 80%;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.list-footer {
    display: flex;
    margin-top: 10px;
}

li:hover a{
    cursor: pointer;
    text-decoration-line: underline;
}

.list-footer li {
    padding-right: 10px;
}

.icon-right {
    font-size: 20px;
    margin-left: 20px;
}

li:hover i {
    color: rgb(139, 236, 245);
}